@model SliderUpdateVM
@{
    ViewData["Title"] = "Update";
}

<div class="delivery-job-hiring-header">
    <div>
        <div>
            <a href="">
                <button><img src="../../Assets/Icons/close.png" alt="" /></button>
            </a>
        </div>
        <div>
            <div>Join Our Team</div>
        </div>
        <div></div>
    </div>
</div>
<div class="form-container">
    <form asp-area="Admin" asp-controller="Slider" asp-action="Update" enctype="multipart/form-data" method="post">
        <div style="font-size:15px; color: red; font-weight:bold; font-family:'Flame Sans'" asp-validation-summary="All"></div>
     
                <span>Image</span>
                <img src="~/Assets/Icons/@Model.Image" />
                <span>Delivery Image</span>
                <img src="~/Assets/Icons/@Model.DeliveryImage" />
                <span>Order Image</span>
                <img src="~/Assets/Icons/@Model.OrderImage" />

        <label asp-for="@Model.Title">Title:</label>
        <input asp-for="@Model.Title" id="username">
        <div>
            <span style="font-size:15px; color:   red; font-family:'Flame Sans'" asp-validation-for="@Model.Title"></span>
        </div>

        <label asp-for="@Model.IImage">Image</label>
        <input asp-for="@Model.IImage" id="username">
        <div>
            <span style="font-size:15px; color:  red; font-family:'Flame Sans'" asp-validation-for="@Model.IImage"></span>
        </div>

        <label asp-for="@Model.IDeliveryImage">Delivery Image</label>
        <input asp-for="@Model.IDeliveryImage" id="username">
        <div>
            <span style="font-size:15px; color:  red; font-family:'Flame Sans'" asp-validation-for="@Model.IDeliveryImage"></span>
        </div>

        <label asp-for="@Model.IOrderImage">Order Image</label>
        <input asp-for="@Model.IOrderImage" id="username">
        <div>
            <span style="font-size:15px; color: red; font-family:'Flame Sans'" asp-validation-for="@Model.IOrderImage"></span>
        </div>

        <button style=" margin-top:20px" type="submit">Submit</button>
    </form>
</div>
