@model MenuVM

<header>
    <div class="navbar">
        <div class="top">
            <a class="burgermenu" asp-controller="burgermenu" asp-action="index">
                <img src="./../../Assets/Icons/burger-bar.png" alt="" />
            </a>
            <a class="logo" asp-controller="home" asp-action="index">
                <img src="./../../Assets/Icons/burger-king.png" alt="" />
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                <div style="width:209.5px;display:flex;justify-content:end" class="buttons">
                    <a class="account" asp-controller="account" asp-action="index">
                        <button>@User.Identity.Name</button>
                    </a>

                </div>
            }
            else
            {
                <div style="width:209.5px;display:flex;justify-content:end" class="buttons">
                    <a class="account" asp-controller="account" asp-action="register">
                        <button>Sign Up/Sing In</button>
                    </a>

                </div>
            }

        </div>
        @*         <div class="bottom">
        <a asp-controller="Location" asp-action="PickUp">
        <img src="../../Assets/Icons/map.png" alt="" />
        <span>Your Location</span>
        <span>@Model.Restaurants.Title</span>
        </a>
        </div> *@
    </div>
</header>
<div class="submenu-eat-cards">
    <div class="eat-cards">
        @foreach (RestaurantProduct restaurantProduct in Model.RestaurantProducts)
        {
            <div class="eat-card">
                <a asp-controller="Menu" asp-action="DeliveryDetail" asp-route-RestaurantId="@restaurantProduct.Restaurant.Id" asp-route-ProductId="@restaurantProduct.Product.Id">
                    <img src="../../Assets/Images/@restaurantProduct.Product.Image" alt="" />
                    <span>@restaurantProduct.Product.Title</span>
                    <div>
                        <span>$@restaurantProduct.Product.Price</span>
                        <p>@restaurantProduct.Product.Calory cal</p>
                    </div>
                </a>
            </div>
        }
    </div>

</div>
<footer>
    <div class="footer">
        <div>
            <a asp-controller="Home" asp-action="">
                <img src="../../Assets/Icons/home.png" alt="" />
                <span>Home</span>
            </a>
        </div>

    </div>
</footer>