@model MenuVM

<header>
    <div class="navbar">
        <div class="top">
            <a class="burgermenu" href="../BurgerMenu/burgermenu.html">
                <img src="./../../Assets/Icons/burger-bar.png" alt="" />
            </a>
            <a class="logo" asp-controller="Location" asp-action="PickUp">
                <img src="./../../Assets/Icons/burger-king.png" alt="" />
            </a>
            <div class="buttons">
                <a class="account" href="../Sign-Up/signup.html">
                    <button>Sign Up/Sing In</button>
                </a>
                <a class="basket" href="../Sign-Up/signup.html">
                    <button>
                        <img src="./../../Assets/Icons/basket.png" alt="" />
                        $0.00
                    </button>
                </a>
            </div>
        </div>
        @*         <div class="bottom">
        <a asp-controller="Location" asp-action="PickUp">
        <img src="../../Assets/Icons/map.png" alt="" />
        <span>Your Location</span>
        <span>@Model.Restaurants.Title</span>
        </a>
        </div> *@
    </div>
</header>
<div class="submenu-eat-cards">
    <div class="eat-cards">
        @foreach (RestaurantProduct restaurantProduct in Model.RestaurantProducts)
        {
            <div class="eat-card">
                <a asp-controller="Menu" asp-action="DeliveryDetail" asp-route-RestaurantId="@restaurantProduct.Restaurant.Id" asp-route-ProductId="@restaurantProduct.Product.Id">
                    <img src="../../Assets/Images/@restaurantProduct.Product.Image" alt="" />
                    <span>@restaurantProduct.Product.Title</span>
                    <div>
                        <span>$@restaurantProduct.Product.Price</span>
                        <p>@restaurantProduct.Product.Calory cal</p>
                    </div>
                </a>
            </div>
        }
    </div>

</div>
<footer>
    <div class="footer">
        <div>
            <a href="../Home/home.html">
                <img src="../../Assets/Icons/home.png" alt="" />
                <span>Home</span>
            </a>
        </div>
        <div>
            <a href="../Locations/location.html">
                <img src="../../Assets/Icons/menu.png" alt="" />
                <span>Menu</span>
            </a>
        </div>

        <div>
            <a href="../Offer/offer.html">
                <img src="../../Assets/Icons/discount.png" alt="" />
                <span>Offers</span>
            </a>
        </div>
    </div>
</footer>