@model CardVM
<div class="card-header">
    <div class="left">
        <a href="../Home/home.html">
            <img src="../../Assets/Icons/close.png" alt="" />
        </a>
    </div>
    <div class="right">
        <h4>Order Pick Up</h4>
    </div>
</div>
<div class="pickup-form-wrapper">
    <form asp-controller="Order" asp-action="PickUp" method="post">
        <div class="restoran-details">
            <h4>Restaurant Details</h4>
            <div class="detail">
                <span>15 Muar Street</span>
            </div>
            <div class="form">
                <label>
                    <input required type="radio" name="option" value="Drive Thru" />Drive Thru
                </label>
                <label>
                    <input required type="radio" name="option" value="Pick Up" />Pick Up
                </label>
                <label>
                    <input required type="radio" name="option" value="Dine In" />Dine In
                </label>
            </div>
        </div>
        <div class="orders-wrapper">
            <h4>Your Card</h4>
            <div class="orders">
                @foreach (var item in Model.cardItems)
                {
                    <div class="order ">
                        <div class="top">
                            <span class="name">@item.Title</span>
                        </div>
                        <div class="mid">
                            <span class="total-price">Item Total</span>
                            <span class="price">$@item.Price</span>
                        </div>
                    </div>
                        
                }
            </div>
            <div>
                <a asp-controller="Menu" asp-action="Index" asp-route-Id="@Model.RestaurantId">
                    <button type="button">+ Add Items</button>
                </a>
            </div>
            <div>
                <a  asp-controller="Menu" asp-action="DeletePickupCardItem" asp-route-Id="@Model.RestaurantId">
                    <button type="button">- Delete Items</button>
                </a>

            </div>
 @*            <a asp-controller="Menu" asp-action="Index" asp-route-Id="@Model.RestaurantId">
                <button type="button">+ Add Items</button>
            </a>
            <a style="text-decoration:none" asp-controller="Menu" asp-action="Index" asp-route-Id="@Model.RestaurantId">
                <button type="button">- Delete Items</button>
            </a>
             *@
        </div>
        <div class="taxs-wrapper">
            <div class="taxs">

                <div class="total-tax">
                    <span>Total</span>
                    <span> 
                        @Model.TotalPrice
                    </span>
                </div>
            </div>
        </div>
        <div class="submit-wrapper">
            <a href="#">
                <input class="submit-btn" type="submit" placeholder="Continue" name="Continue" id="" />
            </a>
        </div>
        <!-- <button type="submit">Submit</button> -->
    </form>
</div>