@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="delivery-job-hiring-header">
    <div>
        <div>
            <a href="">
                <button><img src="../../Assets/Icons/close.png" alt="" /></button>
            </a>
        </div>
        <div>
            <div>Join Our Team</div>
        </div>
        <div></div>
    </div>
</div>
<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Crud</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model)
        {
            <tr>
                <td>
                    @{
                        var count = 0;
                        ++count;
                    }@count
                </td>
                <td>@product.Title</td>
                <td>
                    <div class="crud">
                        <button class="create">
                            <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="crud-link">Create</a>
                        </button>
                        <button class="read">
                            <a class="crud-link" asp-area="Admin" asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">Read</a>
                        </button>
                        <button class="update">
                            <a class="crud-link" asp-area="Admin" asp-controller="Product" asp-action="Update" asp-route-id="@product.Id">Update</a>
                        </button>
                        <button class="delete" onclick="return confirmDelete('@product.Id')">
                            <a class="crud-link" asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                        </button>
                    </div>
                </td>

            </tr>
        }


    </tbody>
</table>


<script>
    function confirmDelete(sliderId) {
        var result = confirm("Are you sure you want to delete this Ad?");

        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>


