@model List<Ad>
@{
    ViewData["Title"] = "Index";
}

<div class="delivery-job-hiring-header">
    <div>
        <div>
            <a asp-area="Admin" asp-controller="DashBoard" asp-action="Index">
                <button><img src="../../Assets/Icons/close.png" alt="" /></button>
            </a>
        </div>
        <div>
            <div>Ad Index</div>
        </div>
        <div></div>
    </div>
</div>
<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Crud</th>

        </tr>
    </thead>
    <tbody>
        @{
            var count = 0;
        }
        @foreach (Ad ad in Model)
        {
            <tr>
                <td>
                    @{
                        count +=1;
                        
                    }@count
                </td>
                <td>@ad.Title</td>
                <td>
                    <div class="crud">
                        <button class="create">
                            <a asp-area="Admin" asp-controller="Ad" asp-action="Create" class="crud-link">Create</a>
                        </button>
                        <button class="read">
                            <a class="crud-link" asp-area="Admin" asp-controller="Ad" asp-action="Detail" asp-route-id="@ad.Id">Read</a>
                        </button>
                        <button class="update">
                            <a class="crud-link" asp-area="Admin" asp-controller="Ad" asp-action="Update" asp-route-id="@ad.Id">Update</a>
                        </button>
                        <button class="delete" onclick="return confirmDelete('@ad.Id')">
                            <a class="crud-link" asp-area="Admin" asp-controller="Ad" asp-action="Delete" asp-route-id="@ad.Id">Delete</a>
                        </button>
                    </div>
                </td>

            </tr>
        }


    </tbody>
</table>


<script>
    function confirmDelete(sliderId) {
        var result = confirm("Are you sure you want to delete this Ad?");

        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>
