@model HomeVM
 
<header>
    <div class="navbar">
        <div class="top">
            <a class="burgermenu" href="~/../BurgerMenu/burgermenu.htm">
                <img src="~/./../../Assets/Icons/@Model.Settings.FirstOrDefault(bm=>bm.Key== "HeaderBurgerBarImg")?.Value" alt="" />
            </a>
            <a class="logo" asp-controller="Home" asp-action="Index">
                <img src="~/./../../Assets/Icons/@Model.Settings.FirstOrDefault(bm=>bm.Key== "HeaderBurgerKingLogo")?.Value" alt="" />
            </a>
            <div class="buttons">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="account" asp-controller="Account" asp-action="Index">
                        <button>@User.Identity.Name</button>
                    </a>
                }
                else
                {
                    <a class="account" asp-controller="Account" asp-action="Register">
                        <button>Sign Up/Sing In</button>
                    </a>
                }
                <a class="basket" asp-controller="Location" asp-action="PickUp">
                    <button>
                        <img src="~/./../../Assets/Icons/@Model.Settings.FirstOrDefault(bm=>bm.Key== "HeaderBasketImg")?.Value" alt="" />
                        $999.00
                    </button>
                </a>
            </div>
        </div>
        <div class="bottom">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Location" asp-action="PickUp">
                    <img src="~/../../Assets/Icons/@Model.Settings.FirstOrDefault(bm=>bm.Key== "HeaderLocationImg")?.Value" alt="" />
                    <span>For availability</span>
                    <span>Choose location</span>
                </a>

            }
            else
            {
                <a asp-controller="Account" asp-action="Register">
                    <img src="~/../../Assets/Icons/@Model.Settings.FirstOrDefault(bm=>bm.Key== "HeaderLocationImg")?.Value" alt="" />
                    <span>For availability</span>
                    <span>Choose location</span>
                </a>
            }
        </div>
    </div>
</header>
<section class="order">
    <div class="main-section">
        @foreach (Slider slider in Model.Sliders)
        {
            
            <div class="left">
                <span>@slider.Title</span>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="pickup" asp-controller="Location" asp-action="PickUp">
                        <button>
                            <img src="~/../../Assets/Icons/@slider.OrderImage" alt="" />
                            Order Pickup
                        </button>
                    </a>
                    <a class="delivery" asp-controller="Location" asp-action="Delivery">
                        <button>
                            <img src="~/../../Assets/Icons/@slider.DeliveryImage" alt="" />
                            Order Delivery
                        </button>
                    </a>
                }
                else
                {
                    <a class="pickup" asp-controller="Account" asp-action="Register">
                        <button>
                            <img src="~/../../Assets/Icons/@slider.OrderImage" alt="" />
                            Order Pickup
                        </button>
                    </a>
                    <a class="delivery" asp-controller="Account" asp-action="Register">
                        <button>
                            <img src="~/../../Assets/Icons/@slider.DeliveryImage" alt="" />
                            Order Delivery
                        </button>
                    </a>
                }
            </div>
            <div class="right">
                <img src="~/../../Assets/Icons/@slider.Image" alt="" />
            </div>
        }
    </div>
</section>
<section class="cards">
    @if (User.Identity.IsAuthenticated)
    {
        @foreach (Ad ad in Model.Ads)
        {
             <div class="card">
                <div class="top">
                        <a asp-controller="Location" asp-action="PickUp">
                        <img src="~/../../Assets/Images/@ad.Image" alt="" />
                    </a>
                </div>
                <div class="bottom">
                    <div class="info">
                        <h4>@ad.Title</h4>
                        <span>
                            @ad.Description
                        </span>
                    </div>
                    <div class="button">
                            <a asp-controller="Location" asp-action="PickUp">
                            <button>Order Now</button>
                        </a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        @foreach (Ad ad in Model.Ads)
        {
            <div class="card">
                <div class="top">
                    <a asp-controller="Account" asp-action="Register">
                        <img src="~/../../Assets/Images/@ad.Image" alt="" />
                    </a>
                </div>
                <div class="bottom">
                    <div class="info">
                        <h4>@ad.Title</h4>
                        <span>
                            @ad.Description
                        </span>
                    </div>
                    <div class="button">
                        <a asp-controller="Account" asp-action="Register">
                            <button>Order Now</button>
                        </a>
                    </div>
                </div>
            </div>
        }
    }
</section>
<section class="ads">
    @foreach (Download download in Model.Downloads)
    {
        <div class="ad">
        <div class="left">
            <img src="~/../../Assets/Images/@download.Image" alt="" />
        </div>
        <div class="right">
            <h4>
                @download.Title
            </h4>
            <div class="link">
                <a class="appstore"
                   href="@download.PlayStoreUrl">
                    <img src="~/../../Assets/Images/@download.GooglePlayImage" alt="" />
                </a>
                <a class="playstore" href="@download.AppStoreUrl">
                    <img src="~/../../Assets/Images/@download.AppStoreImage" alt="" />
                </a>
            </div>
            <span>
                @download.Description
            </span>
        </div>
    </div>
    }
</section>
<section class="terms">
    <div class="term">
        <span>
            TM & Copyright 2024 Burger King Company LLC. All Rights Reserved. I
            Do Not Sell Or Share My Personal Information
        </span>
    </div>
</section>
<footer>
    <div class="footer">
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/../../Assets/Icons/@Model.Settings.FirstOrDefault(bm=>bm.Key== "FooterHomeImg")?.Value" alt="" />
                    <span>@Model.Settings.FirstOrDefault(bm=>bm.Key== "FooterHome")?.Value</span>
                </a>
            </div>
            <div>
                <a asp-controller="Location" asp-action="PickUp">
                    <img src="~/../../Assets/Icons/@Model.Settings.FirstOrDefault(bm=>bm.Key== "FooterMenuImg")?.Value" alt="" />
                    <span>@Model.Settings.FirstOrDefault(bm=>bm.Key== "FooterMenu")?.Value</span>
                </a>
            </div>
            <div>
                <a href="~/../Offer/offer.html">
                    <img src="~/../../Assets/Icons/@Model.Settings.FirstOrDefault(bm=>bm.Key== "FooterOfferImg")?.Value" alt="" />
                    <span>@Model.Settings.FirstOrDefault(bm=>bm.Key== "FooterOffer")?.Value</span>
                </a>
            </div>
        }
        else
        {
            <div>
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/../../Assets/Icons/@Model.Settings.FirstOrDefault(bm=>bm.Key== "FooterHomeImg")?.Value" alt="" />
                    <span>@Model.Settings.FirstOrDefault(bm=>bm.Key== "FooterHome")?.Value</span>
                </a>
            </div>
            <div>
                <a asp-controller="Account" asp-action="Register">
                    <img src="~/../../Assets/Icons/@Model.Settings.FirstOrDefault(bm=>bm.Key== "FooterMenuImg")?.Value" alt="" />
                    <span>@Model.Settings.FirstOrDefault(bm=>bm.Key== "FooterMenu")?.Value</span>
                </a>
            </div>
            <div>
                <a href="~/../Offer/offer.html">
                    <img src="~/../../Assets/Icons/@Model.Settings.FirstOrDefault(bm=>bm.Key== "FooterOfferImg")?.Value" alt="" />
                    <span>@Model.Settings.FirstOrDefault(bm=>bm.Key== "FooterOffer")?.Value</span>
                </a>
            </div>
        }
    </div>
</footer>